In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../EVA_Challenge_Data/Amaurot.csv")
test = pd.read_csv("../../EVA_Challenge_Data/AmaurotTestSet.csv")

In [3]:
df.head()

,Y,V1,V2,V3,V4,Season,WindDirection,WindSpeed,Atmosphere
0,145.767703,34.409,35.927,12.238,1.865,S1,1.423,6.872,1.054
1,23.508489,38.580,38.334,7.504,0.167,S1,0.920,6.152,1.054
2,52.329976,35.204,39.062,6.475,5.531,S1,2.418,3.745,1.054
3,15.346296,41.186,42.292,6.485,NaN,S1,1.179,5.473,1.054
4,23.917896,34.980,40.662,6.011,0.000,S1,-0.296,1.888,1.054

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Y              21000 non-null  float64
 1   V1             20569 non-null  float64
 2   V2             20585 non-null  float64
 3   V3             20602 non-null  float64
 4   V4             20544 non-null  float64
 5   Season         21000 non-null  object
 6   WindDirection  20572 non-null  float64
 7   WindSpeed      20549 non-null  float64
 8   Atmosphere     21000 non-null  float64
dtypes: float64(8), object(1)
memory usage: 1.4+ MB

In [5]:
for col in df.columns:
    print(col, ":", df[col].isna().sum())
print("Number of obsernations: n =",len(df))

Y : 0
V1 : 431
V2 : 415
V3 : 398
V4 : 456
Season : 0
WindDirection : 428
WindSpeed : 451
Atmosphere : 0
Number of obsernations: n = 21000

In [6]:
450/21000

0.02142857142857143

In [7]:
print(sum(df.WindDirection.isnull()), sum(df.WindSpeed.isnull()))
print(sum(df.WindDirection.isnull() | df.WindSpeed.isnull()))
print(sum(df.WindDirection.isnull() & df.WindSpeed.isnull()))

428 451
869
10

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   V1             100 non-null    float64
 1   V2             100 non-null    float64
 2   V3             100 non-null    float64
 3   V4             100 non-null    float64
 4   Season         100 non-null    object
 5   WindDirection  100 non-null    float64
 6   WindSpeed      100 non-null    float64
 7   Atmosphere     100 non-null    float64
dtypes: float64(7), object(1)
memory usage: 6.4+ KB

- already 

- pipeline 


Imputation
- 6/8 missing

- only test set


Feature engineering
- Wind direction to cos sin

In [9]:
df["wdx"]=np.cos(df.WindDirection)
df["wdy"]=np.sin(df.WindDirection)
test["wdx"]=np.cos(test.WindDirection)
test["wdy"]=np.sin(test.WindDirection)
df

,Y,V1,V2,V3,V4,Season,WindDirection,WindSpeed,Atmosphere,wdx,wdy
0,145.767703,34.409,35.927,12.238,1.865,S1,1.423,6.872,1.054,0.147259,0.989098
1,23.508489,38.580,38.334,7.504,0.167,S1,0.920,6.152,1.054,0.605820,0.795602
2,52.329976,35.204,39.062,6.475,5.531,S1,2.418,3.745,1.054,-0.749432,0.662081
3,15.346296,41.186,42.292,6.485,NaN,S1,1.179,5.473,1.054,0.381849,0.924225
4,23.917896,34.980,40.662,6.011,0.000,S1,-0.296,1.888,1.054,0.956511,-0.291697
...,...,...,...,...,...,...,...,...,...,...,...
20995,36.546863,36.027,43.168,7.080,0.000,S2,-2.039,3.199,1.073,-0.451284,-0.892380
20996,31.361232,35.293,35.272,8.703,0.353,S2,-2.331,3.390,1.073,-0.689069,-0.724696
20997,36.712985,31.205,40.685,1.178,0.000,S2,-2.724,1.579,1.073,-0.914068,-0.405561
20998,8.421323,31.064,33.482,16.451,3.636,S2,-1.822,0.256,1.073,-0.248570,-0.968614
20999,0.094900,34.370,37.374,2.515,0.000,S2,-2.616,1.683,1.073,-0.865027,-0.501726

In [10]:
df.describe()

,Y,V1,V2,V3,V4,WindDirection,WindSpeed,Atmosphere,wdx,wdy
count,21000.000000,20569.000000,20585.000000,20602.000000,20544.000000,20572.000000,20549.000000,2.100000e+04,20572.000000,20572.000000
mean,30.652366,33.578842,37.614994,7.427221,0.898673,-0.770919,2.817532,-1.082732e-17,-0.228195,-0.130805
std,23.663172,4.480186,5.499499,5.387467,1.306646,1.867175,1.632255,1.017356e+00,0.646837,0.715866
min,0.010538,17.393000,20.672000,0.004000,0.000000,-3.141000,0.000000,-3.290000e+00,-1.000000,-1.000000
25%,12.847537,30.528000,33.927000,4.455000,0.000000,-2.386000,1.505000,-7.295000e-01,-0.799495,-0.789867
50%,25.328589,33.912000,37.506000,6.402500,0.372000,-1.710000,2.590000,6.900000e-02,-0.407946,-0.353764
75%,42.441089,36.824000,40.840000,9.047750,1.332250,0.973000,4.066000,6.990000e-01,0.314373,0.633562
max,210.336251,49.173000,86.432000,79.481000,21.477000,3.142000,8.404000,3.067000e+00,1.000000,1.000000

In [11]:
test.describe()

,V1,V2,V3,V4,WindDirection,WindSpeed,Atmosphere,wdx,wdy
count,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,35.682090,40.25651,9.955680,1.480980,-0.464060,3.025000,-0.148490,-0.151026,-0.036966
std,4.868045,6.72542,9.981509,2.052898,1.897389,1.965714,1.040032,0.669803,0.732834
min,26.960000,28.55300,0.850000,0.000000,-3.043000,0.033000,-2.171000,-0.998225,-0.999804
25%,32.032000,36.28400,4.374500,0.000000,-2.220000,1.436250,-1.023000,-0.761057,-0.757069
50%,35.356000,39.38000,7.148000,0.687500,-0.454000,2.623000,-0.093500,-0.299046,-0.207276
75%,38.622250,42.90550,9.536250,2.058000,1.208750,3.968000,0.477000,0.431721,0.777522
max,45.607000,60.75500,50.104000,7.519000,3.082000,7.730000,2.287000,0.999902,0.999899

In [12]:
for col in df.columns:
    print()
    print("====", col, "====")
    print(df[col].value_counts(dropna=False))

==== Y ====
145.767703    1
49.724894     1
11.109607     1
26.806409     1
53.781744     1
             ..
71.540711     1
14.366323     1
26.595971     1
43.257464     1
0.094900      1
Name: Y, Length: 21000, dtype: int64

==== V1 ====
NaN       431
34.592      7
35.428      7
36.074      7
33.648      7
         ...
32.815      1
33.695      1
26.833      1
35.445      1
34.543      1
Name: V1, Length: 11981, dtype: int64

==== V2 ====
NaN       415
37.845      8
39.322      7
34.763      7
39.325      7
         ...
33.657      1
46.148      1
46.451      1
36.845      1
33.482      1
Name: V2, Length: 12896, dtype: int64

==== V3 ====
NaN       398
7.622       9
6.161       9
5.616       9
6.015       9
         ...
17.118      1
13.673      1
8.104       1
46.152      1
16.451      1
Name: V3, Length: 10729, dtype: int64

==== V4 ====
0.000    7575
NaN       456
0.350      18
0.065      17
0.074      15
         ...
6.156       1
2.175       1
6.729       1
1.383       1
4.972       1
Name: V4, Length: 3908, dtype: int64

==== Season ====
S1    10500
S2    10500
Name: Season, dtype: int64

==== WindDirection ====
 NaN      428
-2.484     22
-2.050     19
-2.373     19
-2.437     18
         ...
 2.564      1
 0.152      1
 2.883      1
 2.578      1
 2.681      1
Name: WindDirection, Length: 5257, dtype: int64

==== WindSpeed ====
NaN      451
1.580     14
2.148     13
2.413     13
1.530     12
        ...
2.791      1
5.880      1
5.628      1
5.256      1
3.390      1
Name: WindSpeed, Length: 6106, dtype: int64

==== Atmosphere ====
 1.164    100
-1.005     75
-0.728     75
 0.621     75
-0.351     75
         ...
-0.598     25
 0.862     25
 0.532     25
-0.499     25
 0.154     25
Name: Atmosphere, Length: 760, dtype: int64

==== wdx ====
 NaN         428
-0.791466     24
-0.706969     20
-0.761875     20
-0.718890     20
            ...
 0.792438      1
 0.104605      1
 0.975679      1
 0.982380      1
-0.986321      1
Name: wdx, Length: 3121, dtype: int64

==== wdy ====
 NaN         428
-0.611213     22
-0.887362     19
-0.695124     19
-0.647724     18
            ...
 0.546009      1
 0.151415      1
 0.255720      1
 0.534227      1
 0.444479      1
Name: wdy, Length: 5257, dtype: int64

In [13]:
df = df.astype({"Season":"category"})
test = test.astype({"Season":"category"})

In [14]:
df.drop("WindDirection", axis=1).to_csv("../data_wrangled/Amaurot_train.csv", index=False)
test.drop("WindDirection", axis=1).to_csv("../data_wrangled/Amaurot_test.csv", index=False)

In [15]:
from sklearn.impute import SimpleImputer, KNNImputer

In [16]:
knn = KNNImputer(n_neighbors=10)

In [17]:
df.corr()

C:\Users\pascheo\AppData\Local\Temp\ipykernel_14112\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Y,V1,V2,V3,V4,WindDirection,WindSpeed,Atmosphere,wdx,wdy
Y,1.000000,0.037687,0.051923,0.176666,-0.000468,0.106881,0.163687,0.015375,0.075794,0.136273
V1,0.037687,1.000000,0.659189,0.002152,-0.010680,0.002722,0.002187,0.005286,0.004680,0.001831
V2,0.051923,0.659189,1.000000,-0.001637,-0.001944,0.001436,0.005225,0.001570,-0.005320,0.000364
V3,0.176666,0.002152,-0.001637,1.000000,0.002980,-0.001427,-0.004087,-0.008989,-0.008153,0.001421
V4,-0.000468,-0.010680,-0.001944,0.002980,1.000000,0.013545,0.020790,0.009202,0.003392,0.014867
WindDirection,0.106881,0.002722,0.001436,-0.001427,0.013545,1.000000,0.675013,-0.025899,0.461658,0.813613
WindSpeed,0.163687,0.002187,0.005225,-0.004087,0.020790,0.675013,1.000000,-0.023701,0.356925,0.818915
Atmosphere,0.015375,0.005286,0.001570,-0.008989,0.009202,-0.025899,-0.023701,1.000000,-0.022350,-0.029655
wdx,0.075794,0.004680,-0.005320,-0.008153,0.003392,0.461658,0.356925,-0.022350,1.000000,0.418305
wdy,0.136273,0.001831,0.000364,0.001421,0.014867,0.813613,0.818915,-0.029655,0.418305,1.000000